.d-h-full {
  height: 100%;
}
.d-flex-all-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.d-mainbody {
  position: relative;
}

.d-dropzone {
  width: 300px;
  height: 200px;
  background-color: rgb(224 242 254 / 1);
  border-width: 2px;
  border-color: rgb(125 211 252 / 1);
  border-style: dashed;
  border-radius: 1rem;
}
